h1,
h4 {
  overflow-y: hidden;
}

/* start of xs={12} lg={4} md={6} column */
.profile_wrapper {
  margin-top: 1.4rem;
}
.profile_welcome_wrapper {
  margin: 1.2rem;
  padding: 1.2rem;
  box-shadow: 0 0 3px #212529;
  border-radius: 5px;
}
.profile_welcome_1 {
  display: flex;
}
.header_image {
  height: 100%;
  width: 100%;
}
.header_image_2_wrapper {
  margin-top: 1.23rem;
}
.header_image_2 {
  height: 65%;
  width: 65%;
  border-radius: 50%;
}
.profile_stats_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.profile_text {
  scrollbar-color: transparent;
}
.profile_text > h4::-webkit-scrollbar {
  /* Remove scrollbar in chrome */
  display: none;
}
.profile_text > h4 {
  /* Remove scrollbar in Firefox */
  scrollbar-color: transparent !important;
  color: red;
  display: inline-block;
}
.profile_edit_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_image_content {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header_image_2_text {
  overflow-y: hidden;
}
/* end of xs={12} lg={4} md={6} column */
/* start of xs={12} lg={8} md={6} column */
.Profile_site_stats {
  margin-top: 1.4rem;
  margin-bottom: 15px;
  border: solid lightgray 1px;
  box-shadow: 0 0 3px #000;
  border-radius: 5px;
}

.profile_header_text {
}

.rowTest {
  border: red solid 2px;
  display: flex;
  flex-direction: column;
}

.link_text {
  color: #fff;
}
